services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gestaosoftware
    ports:
      - "5000:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - "8080:80"
    env_file:
      - ./src/GestaoSoftware/.env
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=gestaosoftware;Username=postgres;Password=postgres

volumes:
  db_data:
